body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* font-family: "Sofia", sans-serif; */
  font-weight: 200;
  letter-spacing: 1.3px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Navbar */

* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2
}
.navbar h1 {
  color: #be93d4;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  border-radius: 0.5rem;
  color:  #be93d4;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* Blog Content */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1)
}
.blog-preview h2{
  font-size: 20px;
  color:#be93d4;
  margin-bottom: 8px;
}

/* Random Poke Page */

.pokemonpage {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  gap: 10px;
  width: 100%;
}
.pokename {
  display: flex;
  justify-content: space-between;
  margin: 0px;

  /* text-align: center; */
}
.poke-preview {
  display: flex;
  flex-flow: column wrap;
  border-radius: 0.5rem;
  padding: 10px;
  background-color: #be93d4;
}